.App {
    font-family: sans-serif;
    text-align: center;
  }
  
body {
    background-color: #b53bff;
    color: #fff;
    font-family: sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    
  }

  .counter {
    font-size: 200px;
    display: inline;  
  }

  .counter_text {
    display: inline;
    margin-bottom: 20px;  
  }

  .links {
    text-decoration: none;
    display: 'block';

  }

  .container {
    width: 120px;
    height: 120px;
    background: white;
    border-radius: 20px;
    display: flex;
    margin: '0 auto';
    justify-content: center;
    align-items: center;
    color: '#000';
    font-size: xx-large; 
  }
  